body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:201px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:109px;
  width:222px;
  height:201px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:39px;
  width:38px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u16_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:284px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:42px;
  width:235px;
  height:284px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
